<div class="container">
    
<%- include ../partials/header %>

<header class="jumbotron">
<form style="width:500px; margin: 0 auto; align:center;" action="/places" method="post">
  <div class="form-group">
    <label for="exampleInputDestination">Destination</label>
    <input type="text" class="form-control" name="dest" placeholder="Destination">
  </div>
  <div class="form-group">
    <label for="exampleInputImage">Image of Destination</label>
    <input type="text" class="form-control" name="imgsrc" placeholder="Images">
  </div>
  <div class="form-group">
    <label for="exampleInputdesc">Description</label>
    <input type="text" class="form-control" name="descp" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-md btn-success">Submit</button>
</form>
<a href="/places"> <button type="submit" class="btn btn-md btn-info">Move Back </button></a>
</header>


<%- include ../partials/footer %>

</div>