<div class="container">
    
<% include ../partials/header %>

<header class="jumbotron">
<form style="width:500px; margin: 0 auto; align:center;" action="/places/<%= views._id %>/comments" method="post">
  <div class="form-group">
    <label for="exampleInputDestination">Comments adding for <%= views.name %></label>
    <input type="text" class="form-control" name="view[comment]" placeholder="text">
  </div>
  <div class="form-group">
    <label for="exampleInputImage">Author</label>
    <input type="text" class="form-control" name="view[traveller]" placeholder="author">
  </div>
  <button type="submit" class="btn btn-md btn-success">Submit</button>
</form>
<a href="/places"> <button type="submit" class="btn btn-md btn-info">Move Back </button></a>
</header>

<% include ../partials/footer %>

</div>