<html>
    <head>
        <title> Applciation Blog with SemanticUI </title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" />
    </head>
    
    <style>
        i.icon{
            font-size : 0.5em;
        }
        
        .ui .form{
            margin-top : 10.0em;
        }
        
        .ui.text.container {
        margin-top : 3.0em;
        font-size: 1.14285714rem;
        }
        
    </style>
    
    <body>
        
<div>
            
    <div class="ui fixed inverted menu">
          <div class="ui container"><div class="header item"> Sarath Blog <i class="comment outline icon"> </i> </div>
              <a href="/" class="item">Home</a>
              <a href="/blogs/new"class="item">New Blog</a>
              </div>
    </div>
</div>
        
        
        
   