<%- include partials/header %>

<h4> Enter Newly Found Destinations !!</h4>

<form action="/places" method="post"> 
  <input type="text" name="dest" placeholder="Destination"/>
  <input type="text" name="imgsrc" placeholder="Images"/>
  <input type="submit" />
</form>

<a href="/places"> Back !!</a>

<%- include partials/footer %>